:root {
  --primary-font: "Fjalla One", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #64b49c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
h1 {
  font-size: 35px;
  font-style: bold;
  display: inline;
}

.bg-dark {
  background-color: #fff !important;
}

.logo {
  max-height: 100px;
  margin-right: 5px;
}
.logo:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.main-text {
  background-color: var(--primary-color);
}

h4 {
  font-size: 38px;
  color: #fff;
}
.main-text {
  box-shadow: 0px 5px 5px rgb(176, 174, 170);
}

.text-center p {
  font-size: 16px;
}

.nav-link {
  font-size: 22px;
}
.nav-link,
active {
  color: var(--primary-color);
  transition: all 100ms ease in out;
}

.apple {
  max-width: 15%;
  margin-left: 10px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 5px 5px rgb(96, 95, 93);
  transition: all 150ms ease-in-out;
}

.apple:hover {
  cursor: pointer;
  opacity: 0.6;
}
table {
  table-layout: fixed;
  line-height: 1.8;
  width: 100%;
  padding: 30px;
  border-collapse: collapse;
  box-shadow: 5px 0 15px -4px #9cbcb5, -5px 0 8px -4px #9cbcb5;
}

th:nth-child(1) {
  width: 26.7%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 30%;
}

th {
  color: #56a394;
  font-size: 18px;
}

td {
  opacity: 75%;
}

.main-pic {
  display: block;
  margin: auto;
  max-height: 450px;
  transition: all 250ms ease-out;
  border-radius: 27px;
}

.main-pic:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #b8e6d8;
}

footer {
  background-color: var(--primary-color);
  margin: 0;
  padding: 10px 0;
}
footer p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 13px;
}

p {
  font-size: 18px;
}
strong {
  font-size: 22px;
}

.content {
  margin: 30px 100px;
}

footer .policyAndTermsLinks {
  text-decoration: none;
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
  transition: all 200ms ease-in-out;
}
footer .policyAndTermsLinks:hover {
  color: #000;
  opacity: 0.6;
}

.fa-instagram {
  color: #817b7b;
  transition: all 200ms ease-in-out;
}
.fa-instagram:hover {
  color: #fff;
}
.fa-facebook:hover {
  color: #fff;
}
.fa-github:hover {
  color: #fff;
}
.fa-facebook {
  color: #817b7b;
  transition: all 200ms ease-in-out;
}
.fa-github {
  color: #817b7b;
  transition: all 200ms ease-in-out;
}
.color {
  color: var(--primary-color);
  font-size: 22px;
}

.fa-regular {
  font-weight: 200px;
}

.email-link {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: all 250ms ease-in-out;
}

.email-link:hover {
  color: var(--primary-color);
  font-size: 22px;
}

.contentContact {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 80px;
}
.hero {
  margin-bottom: 150px;
}

.contactHover {
  border-right: 2px solid var(--primary-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 20px;
  }

  strong {
    font-size: 18px;
  }

  .small-info {
    font-size: 13px;
  }

  .apple {
    max-width: 40%;
  }

  .content {
    margin: 0 0 0 10px;
    font-size: 14px;
  }

  .contentContact {
    margin: 0 0 40px 10px;
  }
}
