:root {
  --primary-font: "Fjalla One", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #64b49c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
h1 {
  font-size: 25px;
  display: inline;
}

.bg-dark {
  background-color: #fff !important;
}

.logo {
  max-height: 100px;
}

.main-text {
  background-color: var(--primary-color);
}

h4 {
  font-size: 38px;
  color: #fff;
}
.main-text {
  box-shadow: 0px 5px 5px rgb(176, 174, 170);
}

.text-center strong {
  font-size: 20px;
}

.text-center p {
  font-size: 16px;
}

.nav-link {
  font-size: 16px;
}
.nav-link,
active {
  color: var(--primary-color);
  transition: all 100ms ease in out;
}
.apple-pic,
.google-pic {
  width: 25%;
  height: auto;
}

table {
  padding: 0.5rem 2.5rem !important;

  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
th {
  color: #56a394;
}

td {
  opacity: 75%;
}

.main-pic {
  display: block;
  margin: auto;
  max-height: 400px;
  transition: all 80ms ease-out;
}

.main-pic:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--primary-color);
  margin: 0;
  padding: 10px 0;
}
footer p {
  font-size: 15px;
}
footer img {
  padding-left: 10px;
}
th,
tr,
tbody {
  text-decoration: none !important;
}

p {
  font-size: 18px;
}

.about-us-text {
  margin: 30px 100px;
}
